/* Work sans fonts from google fonts */
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Work+Sans:wght@400;600;700;800&display=swap");
/* Shared styles */
* {
  font-family: "Work Sans", sans-serif;
}
.btn-primary {
  border-radius: 8px;
  border: 0;
  background: #ff900e;
  padding: 20px 25px;
  color: #fff;
  text-align: center;
  font-size: 1.25rem;
  font-weight: 600;
  cursor: pointer;
}
/* Header styles */
header {
  background: rgba(255, 144, 14, 0.1);
  padding: 50px 230px;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-title {
  font-size: 2.8rem;
  font-weight: 700;
  color: #424242;
}
nav > ul {
  display: flex;
}
nav li {
  list-style: none;
  margin-right: 30px;
  font-weight: 500px;
  font-size: 1rem;
}
nav li a {
  text-decoration: none;
  color: #424242;
}
/* Banner styles */
.banner-content {
  width: 800;
  text-align: center;
  margin: 0 auto;
}
.banner-title {
  color: #131313;
  font-size: 4rem;
  font-weight: 700;
}
.banner-description {
  color: #727272;
  text-align: center;
  font: 1rem;
  font-weight: 400;
}
.banner img {
  width: 100%;
  margin-top: 20px;
}

/* .....Responsive styles..... */
@media screen and (max-width: 576px) {
  header {
    padding: 15px;
  }
  nav {
    flex-direction: column;
  }
  .banner-title {
    color: #131313;
    font-size: 3rem;
    font-weight: 600;
  }
}

/* Tablet or Medium devices */
@media screen and (min-width: 576px) and (max-width: 960px) {
    header {
        padding: 40px;
      }
    nav {
    flex-direction: column;
  }
}
