/* Work sans fonts from google fonts */
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Work+Sans:wght@400;600;700;800&display=swap");
/* Shared styles */
* {
  font-family: "Work Sans", sans-serif;
}
.btn-primary {
  border-radius: 8px;
  border: 0;
  background: #ff900e;
  padding: 15px 20px;
  color: #fff;
  text-align: center;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
}
.section-title {
  font-size: 2.8rem;
  font-weight: 700;
  color: #424242;
}
/* Header styles */
header {
  background: rgba(255, 144, 14, 0.1);
  padding: 50px 230px;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav > ul {
  display: flex;
}
nav li {
  list-style: none;
  margin-right: 30px;
  font-weight: 500px;
  font-size: 1rem;
}
nav li a {
  text-decoration: none;
  color: #424242;
}
/* Banner styles */
.banner-content {
  width: 800;
  text-align: center;
  margin: 0 auto;
}
.banner-title {
  color: #131313;
  font-size: 4rem;
  font-weight: 700;
}
.banner-description {
  color: #727272;
  text-align: center;
  font: 1rem;
  font-weight: 400;
}
.banner img {
  width: 100%;
  margin-top: 20px;
}
/* Main Styles */
main {
  max-width: 1000px;
  margin: 70px auto;
}

/* Teams styles */
.quick-features {
  margin-top: 150px;
}
.teams-container {
  display: flex;
  align-items: center;
}
.teams-img-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}
.teams-content {
  padding-left: 70px;
  padding-right: 70px;
}
.teams-img-container img {
  width: 100%;
}
.teams-title {
  color: #727272;
  font-size: 2.5rem;
  font-weight: 500;
  margin-bottom: 24px;
}
.of-our {
  color: #131313;
  font-size: 2.5rem;
  font-weight: 700;
}
.features {
  color: #ff900e;
  font-size: 2.5rem;
  font-weight: 700;
}
.teams-description {
  color: #727272;
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 1.5rem;
}

/* Love cards style */
.love-section {
  display: flex;
  margin-top: 150px;
  gap: 50px;
}
.love-section-title {
  color: #131313;
  font-size: 2rem;
  font-weight: 700;
  border-left: 5px solid #ff900e;
  padding-left: 15px;
}
.love-section-description {
  color: #727272;
  text-align: left;
  font-size: 0.8rem;
  font-weight: 400;
}
.love-card-title {
  color: #131313;
  font-size: 1.25rem;
  font-weight: 600;
}
.love-card-description {
  color: #727272;
  text-align: left;
  font-size: 0.8rem;
  font-weight: 400;
}
.love-card-container {
  border-radius: 8px;
  background: #fff;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
  padding: 12px;
  margin-bottom: 10px;
}
/* Features styles */
.features-description {
  color: #727272;
  text-align: left;
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 40px;
  margin-top: -30px;
}

/* facts style */
.facts-card-container {
  display: flex;
  justify-content: space-around;
  text-align: center;
}
.card {
  border-radius: 8px;
  border: 1px solid #ff900e;
  padding: 30px 20px;
}

.facts-card-stats {
  font-size: 2.8rem;
  color: #424242;
  margin-top: 10px;
  margin-bottom: 10px;
}
.facts-card-title {
  font-size: 1.25rem;
  color: #727272;
  font-weight: 600;
  margin-top: 5px;
}

/* Sponsors style */
.sponsors {
  text-align: center;
}
.sponsors-img-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 50px;
  gap: 40px;
}
.sponsors-img-container img {
  width: 130px;
  height: 35px;
}
/* Footer styles */
.footer {
  width:100%;
  height: 100px;
  border-radius: 8px;
  background: #fff4e7;
}
.footer-description {
  color: #424242;
  text-align: center;
  font-size: 1rem;
  font-weight: 400;
  padding-top: 40px;
}
/* .....Responsive styles..... */
@media screen and (max-width: 576px) {
  header {
    padding: 15px;
  }
  nav {
    flex-direction: column;
  }
  .banner-title {
    color: #131313;
    font-size: 3rem;
    font-weight: 600;
  }

  /* Love section */
  .love-section {
    flex-direction: column;
  }
  .love-image img {
    width: 100%;
  }
  /* Teams features style */
  .teams-container {
    flex-direction: column-reverse;
  }
  .teams-img-container {
    margin-top: 1.5rem;

    grid-template-columns: 1fr;
  }
  .facts-card-container {
    flex-direction: column;
    gap: 20px;
  }
  .features-description {
    padding: 5px;
  }
  .sponsors-img-container {
    flex-direction: column;
    gap: 40px;
  }
  .footer {
    width: 100%;
  }
  .footer-description {
    color: #424242;
    text-align: center;
    font-size: .6rem;
    font-weight: 300;
    padding-top: 40px;
  }
}

/* Tablet or Medium devices */
@media screen and (min-width: 576px) and (max-width: 960px) {
  header {
    padding: 40px;
  }
  nav {
    flex-direction: column;
  }
  /* Love section */
  .love-section {
    flex-direction: column;
  }
  .love-image img {
    width: 100%;
  }
  /* Teams features styles */
  .teams-container {
    flex-direction: column-reverse;
  }
  .teams-img-container {
    margin-top: 1.5rem;
  }
  .facts-card-container {
    gap: 20px;
  }
}
